<div class="input-group mb-3">
  <span class="input-group-text">60%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName1" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv1" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv1" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">20%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName2" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv2" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv2" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">20%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName3" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv3" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv3" required min="1" max="100">
</div>
