<div class="input-group mb-3">
  <span class="input-group-text">30%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName1" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv1" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv1" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">25%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName2" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv2" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv2" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">20%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName3" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv3" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv3" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">10%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName4" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv4" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv4" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">5%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName5" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv5" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv5" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">5%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName6" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv6" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv6" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">4%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName7" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv7" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv7" required min="1" max="100">
</div>

<div class="input-group mb-3">
  <span class="input-group-text">1%</span>
  <span class="input-group-text">Name</span>
  <input type="text" class="form-control" id="pokemonName8" required>
  <span class="input-group-text">min. Lv.</span>
  <input type="number" class="form-control" id="pokemonMinLv8" required min="1" max="100">
  <span class="input-group-text">Max. Lv.</span>
  <input type="number" class="form-control" id="pokemonMaxLv8" required min="1" max="100">
</div>
