<form id="defineWildEncounters" class="needs-validation" novalidate>

  <!-- First line: Map ID NUmber, Encounter Density -->
  <div class="mb-3 p-2 row row-cols-2 border rounded">
    <div class="col-3 mb-3">
      <label for="wildEncountersMapID" class="form-label">Map ID Number *</label>
      <input type="text" class="form-control" id="wildEncountersMapID" required>
    </div>
    <div class="col-9 mb-3">
      <label for="wildEncountersDensities" class="form-label">Encounter Density</label>
      <div class="input-group mb-3">
        <span class="input-group-text">Grass</span>
        <input type="number" class="form-control" value="25">
        <span class="input-group-text">Caves</span>
        <input type="number" class="form-control" value="10">
        <span class="input-group-text">Surfing</span>
        <input type="number" class="form-control" value="10">
      </div>
    </div>
  </div>

  <div class="accordion" id="defineWildEncountersAccordion">

    <!-- LAND POKEMONS -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Land
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersLand">

          <!-- 'entities-12' Dynamically inserted using JQuery -->

        </div>
      </div>
    </div>

    <!-- LAND MORNING POKEMONS -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Land Morning
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">


        <div class="accordion-body" id="wildEncountersLandMorning">

          <!-- 'entities-12' Dynamically inserted using JQuery -->

        </div>


      </div>
    </div>

    <!-- LAND DAY POKEMON -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          Land Day
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">


        <div class="accordion-body" id="wildEncountersLandDay">

          <!-- 'entities-12' Dynamically inserted using JQuery -->

        </div>


      </div>
    </div>

    <!-- LAND NIGHT POKEMON -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">
          Land Night
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">

        <div class="accordion-body" id="wildEncountersLandNight">

          <!-- 'entities-12' Dynamically inserted using JQuery -->

        </div>

      </div>
    </div>

    <!-- BUG CONTEST POKEMON -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading5">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse5" aria-expanded="false"
          aria-controls="collapse5">
          Bug Contest
        </button>
      </h2>
      <div id="collapse5" class="accordion-collapse collapse"
        aria-labelledby="heading5"
        data-bs-parent="#accordionExample">

        <div class="accordion-body" id="wildEncountersBugContest">

          <!-- 'entities-12' Dynamically inserted using JQuery -->

        </div>

      </div>
    </div>

    <!-- CAVE POKEMON -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading6">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse6" aria-expanded="false"
          aria-controls="collapse6">
          Cave
        </button>
      </h2>
      <div id="collapse6" class="accordion-collapse collapse"
        aria-labelledby="heading6"
        data-bs-parent="#accordionExample">

        <div class="accordion-body" id="wildEncountersCave">

          <!-- 'entities-12' Dynamically inserted using JQuery -->

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading7">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse7" aria-expanded="false"
          aria-controls="collapse7">
          Water
        </button>
      </h2>
      <div id="collapse7" class="accordion-collapse collapse"
        aria-labelledby="heading7"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersWater">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading8">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse8" aria-expanded="false"
          aria-controls="collapse8">
          Rock Smash
        </button>
      </h2>
      <div id="collapse8" class="accordion-collapse collapse"
        aria-labelledby="heading8"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersRockSmash">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading9">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse9" aria-expanded="false"
          aria-controls="collapse9">
          Old Rod
        </button>
      </h2>
      <div id="collapse9" class="accordion-collapse collapse"
        aria-labelledby="heading9"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersOldRod">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading10">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse10" aria-expanded="false"
          aria-controls="collapse10">
          Good Rod
        </button>
      </h2>
      <div id="collapse10" class="accordion-collapse collapse"
        aria-labelledby="heading10"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersGoodRod">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading11">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse11" aria-expanded="false"
          aria-controls="collapse11">
          Super Rod
        </button>
      </h2>
      <div id="collapse11" class="accordion-collapse collapse"
        aria-labelledby="heading11"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersSuperRod">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading12">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse12" aria-expanded="false"
          aria-controls="collapse12">
          Headbutt Low
        </button>
      </h2>
      <div id="collapse12" class="accordion-collapse collapse"
        aria-labelledby="heading12"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersHeadbuttLow">

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading13">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse13" aria-expanded="false"
          aria-controls="collapse13">
          Headbutt High
        </button>
      </h2>
      <div id="collapse13" class="accordion-collapse collapse"
        aria-labelledby="heading13"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" id="wildEncountersHeadbuttHigh">

        </div>
      </div>
    </div>

  </div>

</form>